<!DOCTYPE html>
<html>
<head>
<title>Admin Login</title>
<style>
body{
font-family:Segoe UI;
background:#ff9a9e;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}
.box{
background:white;
padding:30px;
border-radius:12px;
text-align:center;
}
input,button{
padding:10px;
margin:10px;
width:200px;
}
button{
background:#ff0066;
color:white;
border:none;
}
</style>
</head>
<body>

<div class="box">
<h2>Admin Login</h2>
<form method="post">
<input name="password" placeholder="Password"><br>
<button>Login</button>
</form>
</div>

</body>
</html>
